/*-- scss:defaults --*/

// Base document colors
$body-bg: black;
$body-color: #d0d0d0; // Mejor contraste en modo oscuro
$sidebar-bg: #222222; // Gris oscuro para mejor integración
$footer-bg: #222222; // Consistente con el sidebar

// Code blocks
$code-block-bg-alpha: 0.2; // Ligero contraste en modo oscuro